<a href="https://colab.research.google.com/github/AntonG7/hack1/blob/master/scrap_wikitable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scrap une table de Wikipedia. 
Prend en compte des cellules qui s'étendent sur plusieurs lignes/colonnes.
La sortie est un fichiers csv avec les éléments sélectionnés

Imports

In [1]:
# -*- coding: utf-8 -*-
from bs4 import BeautifulSoup
import requests
import os
import codecs

Parametres Wikipedia

In [3]:
wiki = "https://fr.wikipedia.org/wiki/Liste_des_d%C3%A9partements_fran%C3%A7ais_class%C3%A9s_par_population_et_superficie"
header = {
    'User-Agent': 'Mozilla/5.0'
}  # Needed to prevent 403 error on Wikipedia
page = requests.get(wiki, headers=header)
soup = BeautifulSoup(page.content)
tables = soup.findAll("table", {"class": "wikitable"})

In [ ]:
# show tables
for i, table in enumerate(tables):
    print("#"*10 + "Table {}".format(i) + '#'*10)
    print(table.text[:100])
    print('.'*80)
print("#"*80)

Détection des cellules avec balises HTML

In [ ]:
for tn, table in enumerate(tables):

    # preinit list of lists
    rows = table.findAll("tr")
    row_lengths = [len(r.findAll(['th', 'td'])) for r in rows]
    ncols = max(row_lengths)
    nrows = len(rows)
    data = []
    for i in range(nrows):
        rowD = []
        for j in range(ncols):
            rowD.append('')
        data.append(rowD)

    # process html
    for i in range(len(rows)):
        row = rows[i]
        rowD = []
        cells = row.findAll(["td", "th"])
        for j in range(len(cells)):
            cell = cells[j]

            #lots of cells span cols and rows so lets deal with that
            cspan = int(cell.get('colspan', 1))
            rspan = int(cell.get('rowspan', 1))
            l = 0
            for k in range(rspan):
                # Shifts to the first empty cell of this row
                while data[i + k][j + l]:
                    l += 1
                for m in range(cspan):
                    cell_n = j + l + m
                    row_n = i + k
                    # in some cases the colspan can overflow the table, in those cases just get the last item
                    cell_n = min(cell_n, len(data[row_n])-1)
                    data[row_n][cell_n] += cell.text
                    print(cell.text)

data.append(rowD)

In [6]:
len(data)

106

Sélection des éléments

In [32]:
code_insee = []
departement = []
population = []
for i in range(2, len(data)-1):
  code_insee.append(data[i][1])
  departement.append(data[i][2])
  population.append(data[i][10])
for i in range(0, len(departement)):
  print('insee: ',code_insee[i], 'dep: ',departement[i], ', pop: ', population[i])

insee:  59 dep:  Nord , pop:  2 604 361
insee:  75 dep:  Paris , pop:  2 187 526
insee:  13 dep:  Bouches-du-Rhône , pop:  2 024 162
insee:  69 dep:  Circonscription départementale du Rhône , pop:  1 843 319
insee:  93 dep:  Seine-Saint-Denis , pop:  1 623 111
insee:  92 dep:  Hauts-de-Seine , pop:  1 609 306
insee:  33 dep:  Gironde , pop:  1 583 384
insee:  62 dep:  Pas-de-Calais , pop:  1 468 018
insee:  78 dep:  Yvelines , pop:  1 438 266
insee:  77 dep:  Seine-et-Marne , pop:  1 403 997
insee:  44 dep:  Loire-Atlantique , pop:  1 394 909
insee:  94 dep:  Val-de-Marne , pop:  1 387 926
insee:  69M dep:  Métropole de Lyon , pop:
insee:  31 dep:  Haute-Garonne , pop:  1 362 672
insee:  91 dep:  Essonne , pop:  1 296 130
insee:  38 dep:  Isère , pop:  1 258 722
insee:  76 dep:  Seine-Maritime , pop:  1 254 378
insee:  95 dep:  Val-d'Oise , pop:  1 228 618
insee:  34 dep:  Hérault , pop:  1 144 892
insee:  67 dep:  Bas-Rhin , pop:  1 125 559
insee:  06 dep:  Alpes-Maritimes , pop:  1 083 310
insee:  35 dep:  Ille-et-Vilaine , pop:  1 060 199
insee:  83 dep:  Var , pop:  1 058 740
insee:  57 dep:  Moselle , pop:  1 043 522
insee:  29 dep:  Finistère , pop:  909 028
insee:  974 dep:  La Réunion , pop:  853 659
insee:  60 dep:  Oise , pop:  824 503
insee:  49 dep:  Maine-et-Loire , pop:  813 493
insee:  74 dep:  Haute-Savoie , pop:  807 360
insee:  68 dep:  Haut-Rhin , pop:  764 030
insee:  42 dep:  Loire , pop:  762 941
insee:  56 dep:  Morbihan , pop:  750 863
insee:  30 dep:  Gard , pop:  744 178
insee:  54 dep:  Meurthe-et-Moselle , pop:  733 481
insee:  14 dep:  Calvados , pop:  694 002
insee:  45 dep:  Loiret , pop:  678 105
insee:  64 dep:  Pyrénées-Atlantiques , pop:  677 309
insee:  85 dep:  Vendée , pop:  675 247
insee:  63 dep:  Puy-de-Dôme , pop:  653 742
insee:  17 dep:  Charente-Maritime , pop:  644 303
insee:  01 dep:  Ain , pop:  643 350
insee:  37 dep:  Indre-et-Loire , pop:  606 511
insee:  27 dep:  Eure , pop:  601 843
insee:  22 dep:  Côtes-d'Armor , pop:  598 814
insee:  80 dep:  Somme , pop:  572 443
insee:  51 dep:  Marne , pop:  568 895
insee:  72 dep:  Sarthe , pop:  566 506
insee:  84 dep:  Vaucluse , pop:  559 479
insee:  71 dep:  Saône-et-Loire , pop:  553 595
insee:  25 dep:  Doubs , pop:  539 067
insee:  02 dep:  Aisne , pop:  534 490
insee:  21 dep:  Côte-d'Or , pop:  533 819
insee:  26 dep:  Drôme , pop:  511 553
insee:  50 dep:  Manche , pop:  496 883
insee:  66 dep:  Pyrénées-Orientales , pop:  474 452
insee:  69D dep:  Rhône[8] , pop:
insee:  86 dep:  Vienne , pop:  436 876
insee:  28 dep:  Eure-et-Loir , pop:  433 233
insee:  73 dep:  Savoie , pop:  431 174
insee:  24 dep:  Dordogne , pop:  413 606
insee:  40 dep:  Landes , pop:  407 444
insee:  971 dep:  Guadeloupe , pop:  390 253
insee:  81 dep:  Tarn , pop:  387 890
insee:  87 dep:  Haute-Vienne , pop:  374 426
insee:  79 dep:  Deux-Sèvres , pop:  374 351
insee:  972 dep:  Martinique , pop:  372 594
insee:  11 dep:  Aude , pop:  370 260
insee:  88 dep:  Vosges , pop:  367 673
insee:  16 dep:  Charente , pop:  352 335
insee:  89 dep:  Yonne , pop:  338 291
insee:  03 dep:  Allier , pop:  337 988
insee:  47 dep:  Lot-et-Garonne , pop:  332 842
insee:  41 dep:  Loir-et-Cher , pop:  331 915
insee:  07 dep:  Ardèche , pop:  325 712
insee:  10 dep:  Aube , pop:  310 020
insee:  53 dep:  Mayenne , pop:  307 445
insee:  18 dep:  Cher , pop:  304 256
insee:  61 dep:  Orne , pop:  283 372
insee:  12 dep:  Aveyron , pop:  279 206
insee:  08 dep:  Ardennes , pop:  273 579
insee:  973 dep:  Guyane , pop:  268 700
insee:  39 dep:  Jura , pop:  260 188
insee:  82 dep:  Tarn-et-Garonne , pop:  258 349
insee:  976 dep:  Mayotte , pop:  376
insee:  19 dep:  Corrèze , pop:  241 464
insee:  70 dep:  Haute-Saône , pop:  236 659
insee:  65 dep:  Hautes-Pyrénées , pop:  228 530
insee:  43 dep:  Haute-Loire , pop:  227 283
insee:  36 dep:  Indre , pop:  222 232
insee:  58 dep:  Nièvre , pop:  207 182
insee:  32 dep:  Gers , pop:  191 091
insee:  55 dep:  Meuse , pop:  187 187
insee:  2B dep:  Haute-Corse , pop:  177 689
insee:  52 dep:  Haute-Marne , pop:  175 640
insee:  46 dep:  Lot , pop:  173 828
insee:  04 dep:  Alpes-de-Haute-Provence , pop:  163 915
insee:  2A dep:  Corse-du-Sud , pop:  157 249
insee:  09 dep:  Ariège , pop:  153 153
insee:  15 dep:  Cantal , pop:  145 143
insee:  90 dep:  Territoire de Belfort , pop:  142 622
insee:  05 dep:  Hautes-Alpes , pop:  141 284
insee:  23 dep:  Creuse , pop:  118 638
insee:  48 dep:  Lozère , pop:  76 601

Dataframe final

In [33]:
import pandas as pd
df = pd.DataFrame()

df['code_insee'] = code_insee
df['departement'] = departement
df['population'] = population

In [34]:
df

    code_insee                              departement population
0           59                                     Nord  2 604 361
1           75                                    Paris  2 187 526
2           13                         Bouches-du-Rhône  2 024 162
3           69  Circonscription départementale du Rhône  1 843 319
4           93                        Seine-Saint-Denis  1 623 111
..         ...                                      ...        ...
98          15                                   Cantal    145 143
99          90                    Territoire de Belfort    142 622
100         05                             Hautes-Alpes    141 284
101         23                                   Creuse    118 638
102         48                                   Lozère     76 601

[103 rows x 3 columns]

Ecriture du fichier de sortie

In [37]:
df.to_csv('population_2017_departement.csv', encoding='utf-8')